<style>
    .content-dados-pessoais {
        display: flex;
        height: 100%;
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        border-radius: 2px 2px 2px 2px;
        flex-direction: column;
        margin-left: 10px;
    }
    .title {
        display: flex;
        width: 100%;
        height: 5em;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        border-bottom: 1px solid #ccc;
        background-color: #ededed;
    }
    .title i {
        margin-left: 10px;
        padding: 5px;
        border-radius: 50%;
        box-shadow: 1px 2px 5px 2px #efefef;
        color: #333;
        cursor: pointer;
    }
    .title span {
        padding: 5px;
        font-size: 1.6em;
        color: #333;
        text-transform: capitalize;
    }
    .item-dados-pessoais {
        display: flex;
        flex:1;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 10px 10px;
        border-bottom: 1px solid #ccc;
    }
    .item-dados-pessoais span {
        flex:1;
        justify-content: flex-start;
        align-items: center;
        margin-left: 10px;
        color: #333;
        font-size: 1.6em;
    }
</style>

<div class="content-dados-pessoais">
    <div class="title">
        <a href="/account"><i class="fas fa-arrow-left"></i></a>
        <span>dados pessoais</span>
    </div>
    <div class="item-dados-pessoais">
        <span style="color: #ccc !important;">Numero de Telefone</span>
        <span>+55(85)9 9242-7469</span>
    </div>
    <div class="item-dados-pessoais">
        <span style="color: #ccc !important;">Email</span>
        <span>adonay@gmail.com</span>
    </div>
    <div class="item-dados-pessoais">
        <span style="color: #ccc !important;">Nome</span>
        <span>Francisco Adonay Ferreira Do Nascimento</span>
    </div>
    <div class="item-dados-pessoais">
        <span style="color: #ccc !important;">Data de Nascimento</span>
        <span>10/10/1995</span>
    </div>
    <div class="item-dados-pessoais">
        <span style="color: #ccc !important;">Data de Nascimento</span>
        <span>10/10/1995</span>
    </div>
    <div class="item-dados-pessoais">
        <span style="color: #ccc !important;">país</span>
        <span>Brasil</span>
    </div>
    <div class="item-dados-pessoais">
        <span style="color: #ccc !important;">Cidade</span>
        <span>Fortaleza</span>
    </div>
    <div class="item-dados-pessoais">
        <span style="color: #ccc !important;">Cpf</span>
        <span>072486293-59</span>
    </div>
</div>
<script>
</script>