<style>
    .mid {
        background-color: #171716 !important;
    }
    .seg-list-events {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .title-seg-list-events {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #9d9d9d;
        padding:5px;
        font-size: 1.6em;
        text-align: center;
        width: 100%;
    }
    .title-seg-list-events svg{
        margin-right: 10px;
    }
    .item-seg-list-events {
        display: none;
        width:200px;
        height: 200px;
        color: #000;
        font-size: 3.2em;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .item-aovivo {
        display: flex;
    }
</style>
<div class="seg-list-events">
    <div class="title-seg-list-events"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: red; transform: scale(1, 1); margin-left: 0px; margin-top: 0px; vertical-align: middle;"><path fill-rule="evenodd" d="M12.08 2l-.9 1.8-2 .3 1.44 1.4-.34 2 1.8-.94 1.8.94-.34-2 1.45-1.4-2-.3-.9-1.8zm3.96 8H2v12.72h20.1V10h-6.05zm-.43-.8l.34-2-1.44-1.4 2-.3.9-1.8.9 1.8 2 .3-1.44 1.4.34 2-1.78-.94-1.8.94zm-10.65 0l1.8-.94 1.8.94-.34-2 1.45-1.4-2-.3-.9-1.8-.9 1.8-2 .3L5.3 7.2l-.34 2zm3.65 8.86H6.6V13.3H5.46V19h3.16v-.95zm.7.95h1.15v-5.7H9.34V19zm4.92-5.7l-.96 4.13-.95-4.12h-1.27L12.7 19h1.2l1.64-5.7h-1.28zm2.96 3.23H19v-.93h-1.8v-1.34h2.1v-.96h-3.26V19h3.27v-.95h-2.12v-1.5z"></path> </svg> / Futebol</div>
    <div class="item-aovivo item-seg-list-events">
        item ao-vivo
    </div>
    <div class="item-1h item-seg-list-events">
        item 1h
    </div>
    <div class="item-2h item-seg-list-events">
        item 2h
    </div>
    <div class="item-3h item-seg-list-events">
        item 3h
    </div>
    <div class="item-proximos item-seg-list-events">
        proximo eventos
    </div>
</div>