{{>partials/cabecalho}}
{{>partials/component/menu-hamburger}}

    {{>partials/header}}

        {{>partials/cabecalho-mid}} 
            {{>partials/cadastrar}}
        {{>partials/footer-mid}}
        
{{>partials/footer}}

