{{>partials/cabecalho}}
{{>partials/component/menu-hamburger}}
{{>partials/component/menu-notification}}
    {{>partials/header}}

        {{>partials/cabecalho-left}}
            {{>partials/component/menu-vertical-live}}
        {{>partials/footer-left}}
    <div id="separate-vertical"></div>

        {{>partials/cabecalho-mid}}
            {{>partials/seg-eventos}}
        {{>partials/footer-mid}}

    <div id="separate-vertical"></div>
        {{>partials/right}}
            {{>partials/component/apostas}}
        {{>partials/footer-right}}

{{>partials/footer}}