{{>partials/cabecalho}}
{{>partials/component/menu-hamburger}}
{{>partials/component/menu-notification}}

    {{>partials/header}}

        {{>partials/cabecalho-left}}
        {{>partials/footer-left}}

        {{>partials/cabecalho-mid}}
            {{>partials/component/user-info}}
            {{>partials/financas}}
        {{>partials/footer-mid}}

        {{>partials/right}}
        {{>partials/footer-right}}

{{>partials/footer}}