{{>partials/cabecalho}}
{{>partials/component/menu-hamburger}}
{{>partials/component/menu-notification}}
    {{>partials/header}}

        {{>partials/cabecalho-left}}
        {{>partials/footer-left}}
    <div id="separate-vertical"></div>

        {{>partials/cabecalho-mid}}
        {{>partials/footer-mid}}
        
{{>partials/footer}}

