{{>partials/cabecalho}}
{{>partials/component/menu-hamburger}}
{{>partials/component/menu-notification}}
    {{>partials/header}}

        {{>partials/cabecalho-mid}} 
            {{>partials/login}}
        {{>partials/footer-mid}}
        
{{>partials/footer}}

